body {
  height: 3000px; }

.box {
  width: 1250px;
  margin: 0 auto;
  overflow: hidden;
  height: 2000px; }

.titlebox {
  height: 40px;
  widows: 100%;
  background: #dfdede; }
  .titlebox .title {
    height: 100%;
    width: 1250px;
    margin: 0 auto;
    line-height: 200%;
    overflow: hidden; }
    .titlebox .title .titlea {
      float: left;
      font-size: 20px;
      color: black; }
    .titlebox .title .titlea:hover {
      color: #3a3ac7; }
    .titlebox .title .title_right {
      float: right;
      height: 100%;
      width: 240px; }
      .titlebox .title .title_right .title_right_a1 {
        float: left;
        font-size: 14px;
        color: black; }
      .titlebox .title .title_right .title_right_a2 {
        float: right;
        font-size: 14px;
        color: black; }
      .titlebox .title .title_right .title_right_a1:hover {
        color: #3131c4; }
      .titlebox .title .title_right .title_right_a2:hover {
        color: #2a2ace; }

.titlenext {
  height: 60px;
  background: white;
  border-bottom: 2px solid #d1cbcb;
  position: relative; }
  .titlenext p {
    float: left; }
    .titlenext p img {
      height: 20px;
      width: 140px;
      margin: 20px 50px 0 140px; }
  .titlenext .ul1 {
    float: left; }
    .titlenext .ul1 .ul1_li {
      float: left; }
      .titlenext .ul1 .ul1_li .nav1_class .nav1_ul2_class {
        text-align: center; }
      .titlenext .ul1 .ul1_li .nav1_class {
        position: absolute;
        height: 0px;
        width: 1309px;
        top: 60px;
        left: 0;
        padding-left: 0px;
        display: none;
        background: white;
        z-index: 100;
        border-bottom: 1px solid #799db6;
        text-align: center; }
        .titlenext .ul1 .ul1_li .nav1_class .nav1_ul1_class {
          padding-top: 20px;
          float: left;
          height: 80%;
          width: 47%;
          border-right: 2px solid #999; }
          .titlenext .ul1 .ul1_li .nav1_class .nav1_ul1_class li:hover a {
            color: #382ec5; }
          .titlenext .ul1 .ul1_li .nav1_class .nav1_ul1_class li {
            width: 100px;
            float: left;
            margin-right: 40px; }
            .titlenext .ul1 .ul1_li .nav1_class .nav1_ul1_class li a {
              color: black;
              display: block;
              margin-left: 10px;
              font-size: 12px;
              line-height: 16px; }
            .titlenext .ul1 .ul1_li .nav1_class .nav1_ul1_class li img {
              height: 110px;
              width: 100px;
              margin-bottom: 10px; }
        .titlenext .ul1 .ul1_li .nav1_class .nav1_ul2_class {
          float: left;
          border-right: none;
          padding-top: 20px;
          height: 80%;
          width: 49%;
          padding-left: 20px; }
          .titlenext .ul1 .ul1_li .nav1_class .nav1_ul2_class li a {
            font-size: 12px;
            line-height: 30px;
            color: black; }
          .titlenext .ul1 .ul1_li .nav1_class .nav1_ul2_class li a:hover {
            color: #2b28c4; }
      .titlenext .ul1 .ul1_li .ul_a {
        text-align: center;
        line-height: 60px;
        display: block;
        height: 60px;
        font-size: 14px;
        margin-right: 20px;
        color: black; }
      .titlenext .ul1 .ul1_li .ul_a:hover {
        height: 56px;
        border-bottom: 4px solid #3333c4; }
    .titlenext .ul1 .active {
      display: block; }
  .titlenext .ul2 {
    float: right;
    position: relative; }
    .titlenext .ul2 li {
      float: left; }
      .titlenext .ul2 li a {
        text-align: center;
        line-height: 60px;
        display: block;
        height: 60px;
        font-size: 14px;
        margin-left: 30px;
        color: black; }
        .titlenext .ul2 li a i {
          font-size: 20px;
          font-weight: bold; }
        .titlenext .ul2 li a .i5 {
          font-size: 34px; }
      .titlenext .ul2 li a:hover {
        color: #3232da; }
    .titlenext .ul2 .ul2_p {
      position: absolute;
      right: 15px;
      top: 14px;
      font-size: 12px; }

.nav_left {
  height: 420px;
  width: 249px;
  background: rgba(255, 255, 255, 0.3);
  float: left;
  position: relative; }
  .nav_left .nav_left_ul1 .nav_left_ul1_li {
    padding-left: 20px;
    margin: 35px 0 10px 0;
    z-index: 20;
    height: 40px;
    line-height: 40px; }
    .nav_left .nav_left_ul1 .nav_left_ul1_li .nav_left_ul1_li_span {
      float: right;
      margin-right: 20px;
      font-weight: bold; }
    .nav_left .nav_left_ul1 .nav_left_ul1_li .nav_left_ul1_li_a {
      display: block;
      height: 84px;
      width: 100%;
      font-size: 16px;
      color: black; }
  .nav_left .nav_left_ul1 .nav_left_ul1_li:hover {
    background: #3e3ec5; }
  .nav_left .nav_left_ul1 .nav_left_ul_div {
    position: absolute;
    height: 420px;
    width: 300px;
    background: white;
    z-index: 11;
    top: 0;
    left: 249px;
    display: none; }
    .nav_left .nav_left_ul1 .nav_left_ul_div li:hover {
      background: white;
      color: #2e2ccc; }
    .nav_left .nav_left_ul1 .nav_left_ul_div li:hover a {
      color: #2825cf; }
    .nav_left .nav_left_ul1 .nav_left_ul_div li {
      margin-top: 19px;
      float: left;
      height: 84px;
      width: 260px;
      padding-left: 40px; }
      .nav_left .nav_left_ul1 .nav_left_ul_div li .nav_left_ul_div_ul_li_a {
        float: left;
        line-height: 25px;
        width: 170px;
        color: black; }
        .nav_left .nav_left_ul1 .nav_left_ul_div li .nav_left_ul_div_ul_li_a span {
          height: 60px;
          width: 70px;
          font-size: 12px;
          float: right; }
        .nav_left .nav_left_ul1 .nav_left_ul_div li .nav_left_ul_div_ul_li_a img {
          height: 90px;
          width: 80px; }

.banner {
  height: 420px;
  width: 1249px;
  position: absolute;
  right: 50px;
  overflow: hidden; }
  .banner .banner_div_btn2 {
    z-index: 10;
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff;
    right: 0;
    top: 125px;
    font-size: 98px;
    opacity: 0.5;
    text-align: center;
    display: none; }
  .banner .banner_div_btn3 {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff;
    z-index: 10;
    left: 0;
    top: 125px;
    font-size: 98px;
    opacity: 0.5;
    text-align: center;
    display: none; }
  .banner .banner_div_btn {
    width: 300px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 460px;
    z-index: 10; }
    .banner .banner_div_btn a {
      display: block;
      float: left;
      width: 20px;
      height: 20px;
      margin-top: 4px;
      margin-left: 20px;
      background: darkgray;
      border-radius: 50%; }
      .banner .banner_div_btn a p {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 2px;
        display: none; }
    .banner .banner_div_btn .active {
      background: #6c6cd8; }
  .banner .banner_div {
    height: 430px;
    width: 10000px;
    position: absolute; }
    .banner .banner_div a img {
      float: left;
      height: 100%;
      width: 1250px; }

.goods {
  float: left;
  margin-top: 40px; }
  .goods .goods_a1 {
    margin-left: 1px; }
  .goods .goods_a1, .goods .goods_a2, .goods .goods_a3 {
    width: 389px;
    height: 260px;
    margin-right: 36px; }
    .goods .goods_a1 img, .goods .goods_a2 img, .goods .goods_a3 img {
      width: 389px;
      height: 260px; }
  .goods .goods_a3 {
    margin-right: 0; }

.contentlist {
  float: left;
  margin-top: 40px;
  width: 100%;
  height: 500px;
  position: relative; }
  .contentlist .contentlist_div {
    line-height: 60px;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to bottom right, #9595ec, #d4daf5); }
    .contentlist .contentlist_div p {
      float: left;
      font-size: 30px;
      font-weight: 400;
      line-height: 60px;
      margin-right: 100px; }
    .contentlist .contentlist_div .content_a4 {
      float: right;
      color: black;
      font-size: 20px;
      line-height: 60px; }
    .contentlist .contentlist_div .content_ul {
      float: left;
      position: relative;
      margin-top: 10px; }
      .contentlist .contentlist_div .content_ul #content_ul_li0 {
        border-bottom: 2px solid blue; }
      .contentlist .contentlist_div .content_ul .content_ul_li {
        height: 40px;
        line-height: 50px;
        float: left;
        margin-left: 20px; }
        .contentlist .contentlist_div .content_ul .content_ul_li a {
          font-size: 20px;
          color: black; }
        .contentlist .contentlist_div .content_ul .content_ul_li #ul0 {
          z-index: 1;
          position: absolute; }
        .contentlist .contentlist_div .content_ul .content_ul_li .content_ul_li_ul {
          height: 400px;
          width: 1160px;
          position: absolute;
          left: -110px;
          background: #c0bfdb; }
          .contentlist .contentlist_div .content_ul .content_ul_li .content_ul_li_ul .content_list_li:hover {
            color: #2527bd; }
          .contentlist .contentlist_div .content_ul .content_ul_li .content_ul_li_ul .content_list_li {
            padding-top: 40px;
            float: left;
            background: white;
            height: 360px;
            width: 250px;
            padding-left: 30px;
            margin-right: 13px;
            text-align: center; }
            .contentlist .contentlist_div .content_ul .content_ul_li .content_ul_li_ul .content_list_li a {
              display: block; }
              .contentlist .contentlist_div .content_ul .content_ul_li .content_ul_li_ul .content_list_li a img {
                height: 217px;
                width: 217px; }
            .contentlist .contentlist_div .content_ul .content_ul_li .content_ul_li_ul .content_list_li .title {
              display: block; }
            .contentlist .contentlist_div .content_ul .content_ul_li .content_ul_li_ul .content_list_li .price {
              margin: 0 20px 0 30px; }
          .contentlist .contentlist_div .content_ul .content_ul_li .content_ul_li_ul #li3 {
            margin-right: 0;
            width: 251px; }
    .contentlist .contentlist_div .content_ul_li:hover a {
      color: blue; }
    .contentlist .contentlist_div .content_a4:hover {
      color: blue; }
  .contentlist .content_left {
    position: absolute;
    left: 10px;
    top: 200px;
    height: 40px;
    width: 30px;
    background: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border: 1px solid #c2c0c0;
    color: #b3b2b2; }
  .contentlist .content_right {
    position: absolute;
    right: 0;
    top: 200px;
    height: 40px;
    width: 30px;
    background: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border: 1px solid #c2c0c0;
    color: #b3b2b2; }

.mini_banner {
  float: left;
  height: 300px;
  width: 1250px;
  margin: 0 auto; }
  .mini_banner .text {
    height: 60px;
    width: 1250px;
    font-size: 30px;
    line-height: 60px;
    background-image: linear-gradient(to bottom right, #4646e4, #d4daf5); }
  .mini_banner .a1 {
    width: 1250px;
    height: 184px; }
    .mini_banner .a1 img {
      width: 1250px;
      height: 184px; }

.content_2 {
  height: 500px;
  width: 100%;
  background: yellow;
  float: left; }
  .content_2 p {
    height: 60px;
    font-size: 30px;
    width: 100%;
    line-height: 60px;
    background-image: linear-gradient(to bottom right, #4646e4, #d4daf5); }
  .content_2 .content_2_li {
    float: left;
    width: 250px;
    height: 500px;
    background: red;
    text-align: center; }
    .content_2 .content_2_li a {
      display: block;
      height: 217px;
      width: 217px; }
      .content_2 .content_2_li a img {
        height: 217px;
        width: 217px; }
