.box {
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

.titlebox {
  height: 40px;
  width: 93%;
  padding: 0 3.5%;
  background: #dfdede; }
  .titlebox .title {
    height: 100%;
    margin: 0 auto;
    line-height: 200%;
    overflow: hidden; }
    .titlebox .title .titlea {
      float: left;
      font-size: 20px;
      color: black; }
    .titlebox .title .titlea:hover {
      color: #3a3ac7; }
    .titlebox .title .title_right {
      float: right;
      height: 100%;
      width: 240px; }
      .titlebox .title .title_right .title_right_a1 {
        float: left;
        font-size: 14px;
        color: black; }
      .titlebox .title .title_right .title_right_a2 {
        float: right;
        font-size: 14px;
        color: black; }
      .titlebox .title .title_right .title_right_a1:hover {
        color: #3131c4; }
      .titlebox .title .title_right .title_right_a2:hover {
        color: #2a2ace; }

.titlenext {
  height: 60px;
  background: white;
  border-bottom: 2px solid #d1cbcb;
  position: relative;
  width: 93%;
  padding: 0 3.5%;
  overflow: hidden; }
  .titlenext p {
    float: left; }
    .titlenext p img {
      height: 20px;
      width: 140px;
      margin: 20px 50px 0 140px; }
  .titlenext .ul1 {
    float: left; }
    .titlenext .ul1 .ul1_li {
      float: left; }
      .titlenext .ul1 .ul1_li .nav1_class .nav1_ul2_class {
        text-align: center; }
      .titlenext .ul1 .ul1_li .nav1_class {
        position: absolute;
        height: 0px;
        width: 1309px;
        top: 60px;
        left: 0;
        padding-left: 0px;
        display: none;
        background: white;
        z-index: 1001;
        border-bottom: 1px solid #799db6;
        text-align: center; }
        .titlenext .ul1 .ul1_li .nav1_class .nav1_ul1_class {
          padding-top: 20px;
          float: left;
          height: 80%;
          width: 47%;
          border-right: 2px solid #999; }
          .titlenext .ul1 .ul1_li .nav1_class .nav1_ul1_class li:hover a {
            color: #382ec5; }
          .titlenext .ul1 .ul1_li .nav1_class .nav1_ul1_class li {
            width: 100px;
            float: left;
            margin-right: 40px; }
            .titlenext .ul1 .ul1_li .nav1_class .nav1_ul1_class li a {
              color: black;
              display: block;
              margin-left: 10px;
              font-size: 12px;
              line-height: 16px; }
            .titlenext .ul1 .ul1_li .nav1_class .nav1_ul1_class li img {
              height: 110px;
              width: 100px;
              margin-bottom: 10px; }
        .titlenext .ul1 .ul1_li .nav1_class .nav1_ul2_class {
          float: left;
          border-right: none;
          padding-top: 20px;
          height: 80%;
          width: 49%;
          padding-left: 20px; }
          .titlenext .ul1 .ul1_li .nav1_class .nav1_ul2_class li a {
            font-size: 12px;
            line-height: 30px;
            color: black; }
          .titlenext .ul1 .ul1_li .nav1_class .nav1_ul2_class li a:hover {
            color: #2b28c4; }
      .titlenext .ul1 .ul1_li .ul_a {
        text-align: center;
        line-height: 60px;
        display: block;
        height: 60px;
        font-size: 14px;
        margin-right: 20px;
        color: black; }
      .titlenext .ul1 .ul1_li .ul_a:hover {
        height: 56px;
        border-bottom: 4px solid #3333c4; }
    .titlenext .ul1 .active {
      display: block; }
  .titlenext .ul2 {
    float: right;
    position: relative; }
    .titlenext .ul2 li {
      float: left; }
      .titlenext .ul2 li a {
        text-align: center;
        line-height: 60px;
        display: block;
        height: 60px;
        font-size: 14px;
        margin-left: 30px;
        color: black; }
        .titlenext .ul2 li a i {
          font-size: 20px;
          font-weight: bold; }
        .titlenext .ul2 li a .i5 {
          font-size: 34px; }
      .titlenext .ul2 li a:hover {
        color: #3232da; }
    .titlenext .ul2 .ul2_p {
      position: absolute;
      right: 15px;
      top: 14px;
      font-size: 12px; }

.nav_left_div {
  width: 93%;
  padding: 0 3.5%;
  overflow: hidden; }
  .nav_left_div .nav_left {
    height: 420px;
    width: 249px;
    background: rgba(255, 255, 255, 0.3);
    float: left;
    position: relative; }
    .nav_left_div .nav_left .nav_left_ul1 .nav_left_ul1_li {
      padding-left: 20px;
      margin: 35px 0 10px 0;
      z-index: 20;
      height: 40px;
      line-height: 40px; }
      .nav_left_div .nav_left .nav_left_ul1 .nav_left_ul1_li .nav_left_ul1_li_span {
        float: right;
        margin-right: 20px;
        font-weight: bold; }
      .nav_left_div .nav_left .nav_left_ul1 .nav_left_ul1_li .nav_left_ul1_li_a {
        display: block;
        height: 84px;
        width: 100%;
        font-size: 16px;
        color: black; }
    .nav_left_div .nav_left .nav_left_ul1 .nav_left_ul1_li:hover {
      background: #3e3ec5; }
    .nav_left_div .nav_left .nav_left_ul1 .nav_left_ul_div {
      position: absolute;
      height: 420px;
      width: 300px;
      background: white;
      z-index: 11;
      top: 0;
      left: 249px;
      display: none; }
      .nav_left_div .nav_left .nav_left_ul1 .nav_left_ul_div li:hover {
        background: white;
        color: #2e2ccc; }
      .nav_left_div .nav_left .nav_left_ul1 .nav_left_ul_div li:hover a {
        color: #2825cf; }
      .nav_left_div .nav_left .nav_left_ul1 .nav_left_ul_div li {
        margin-top: 19px;
        float: left;
        height: 84px;
        width: 260px;
        padding-left: 40px; }
        .nav_left_div .nav_left .nav_left_ul1 .nav_left_ul_div li .nav_left_ul_div_ul_li_a {
          float: left;
          line-height: 25px;
          width: 170px;
          color: black; }
          .nav_left_div .nav_left .nav_left_ul1 .nav_left_ul_div li .nav_left_ul_div_ul_li_a span {
            height: 60px;
            width: 70px;
            font-size: 12px;
            float: right; }
          .nav_left_div .nav_left .nav_left_ul1 .nav_left_ul_div li .nav_left_ul_div_ul_li_a img {
            height: 90px;
            width: 80px; }

.banner {
  height: 420px;
  width: 1249px;
  position: absolute;
  right: 50px;
  overflow: hidden; }
  .banner .banner_div_btn2 {
    z-index: 10;
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff;
    right: 0;
    top: 125px;
    font-size: 98px;
    opacity: 0.5;
    text-align: center;
    display: none; }
  .banner .banner_div_btn3 {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #fff;
    z-index: 10;
    left: 0;
    top: 125px;
    font-size: 98px;
    opacity: 0.5;
    text-align: center;
    display: none; }
  .banner .banner_div_btn {
    width: 300px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 460px;
    z-index: 10; }
    .banner .banner_div_btn a {
      display: block;
      float: left;
      width: 20px;
      height: 20px;
      margin-top: 4px;
      margin-left: 20px;
      background: darkgray;
      border-radius: 50%; }
      .banner .banner_div_btn a p {
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 2px;
        display: none; }
    .banner .banner_div_btn .active {
      background: #6c6cd8; }
  .banner .banner_div {
    height: 430px;
    width: 10000px;
    position: absolute; }
    .banner .banner_div a img {
      float: left;
      height: 100%;
      width: 1250px; }

.goods_div {
  width: 93%;
  padding: 0 3.5%;
  overflow: hidden; }
  .goods_div .goods {
    float: left;
    margin-top: 40px; }
    .goods_div .goods .goods_a1 {
      margin-left: 1px; }
    .goods_div .goods .goods_a1, .goods_div .goods .goods_a2, .goods_div .goods .goods_a3 {
      width: 389px;
      height: 260px;
      margin-right: 36px; }
      .goods_div .goods .goods_a1 img, .goods_div .goods .goods_a2 img, .goods_div .goods .goods_a3 img {
        width: 389px;
        height: 260px; }
    .goods_div .goods .goods_a3 {
      margin-right: 0; }

.contentlist_div_box {
  width: 93%;
  padding: 0 3.5%; }
  .contentlist_div_box .contentlist {
    float: left;
    margin-top: 40px;
    width: 100%;
    height: 500px;
    position: relative; }
    .contentlist_div_box .contentlist .contentlist_div {
      line-height: 60px;
      width: 100%;
      height: 60px;
      background-image: linear-gradient(to bottom right, #b4b4f0, #e9eaf1); }
      .contentlist_div_box .contentlist .contentlist_div p {
        float: left;
        font-size: 30px;
        font-weight: 400;
        line-height: 60px;
        margin-right: 100px; }
      .contentlist_div_box .contentlist .contentlist_div .content_a4 {
        float: right;
        color: black;
        font-size: 20px;
        line-height: 60px; }
      .contentlist_div_box .contentlist .contentlist_div .content_ul {
        float: left;
        position: relative;
        margin-top: 10px; }
        .contentlist_div_box .contentlist .contentlist_div .content_ul #content_ul_li0 {
          border-bottom: 2px solid blue; }
        .contentlist_div_box .contentlist .contentlist_div .content_ul .content_ul_li {
          height: 40px;
          line-height: 50px;
          float: left;
          margin-left: 20px; }
          .contentlist_div_box .contentlist .contentlist_div .content_ul .content_ul_li a {
            font-size: 20px;
            color: black; }
          .contentlist_div_box .contentlist .contentlist_div .content_ul .content_ul_li #ul0 {
            z-index: 1;
            position: absolute; }
          .contentlist_div_box .contentlist .contentlist_div .content_ul .content_ul_li .content_ul_li_ul {
            height: 400px;
            width: 1160px;
            position: absolute;
            left: -110px;
            background: #e6e5f0; }
            .contentlist_div_box .contentlist .contentlist_div .content_ul .content_ul_li .content_ul_li_ul .content_list_li:hover {
              color: #2527bd; }
            .contentlist_div_box .contentlist .contentlist_div .content_ul .content_ul_li .content_ul_li_ul .content_list_li {
              padding-top: 40px;
              float: left;
              background: white;
              height: 360px;
              width: 250px;
              padding-left: 30px;
              margin-right: 13px;
              text-align: center; }
              .contentlist_div_box .contentlist .contentlist_div .content_ul .content_ul_li .content_ul_li_ul .content_list_li a {
                display: block; }
                .contentlist_div_box .contentlist .contentlist_div .content_ul .content_ul_li .content_ul_li_ul .content_list_li a img {
                  height: 217px;
                  width: 217px; }
              .contentlist_div_box .contentlist .contentlist_div .content_ul .content_ul_li .content_ul_li_ul .content_list_li .title {
                display: block; }
              .contentlist_div_box .contentlist .contentlist_div .content_ul .content_ul_li .content_ul_li_ul .content_list_li .price {
                margin: 0 20px 0 30px; }
            .contentlist_div_box .contentlist .contentlist_div .content_ul .content_ul_li .content_ul_li_ul #li3 {
              margin-right: 0;
              width: 251px; }
      .contentlist_div_box .contentlist .contentlist_div .content_ul_li:hover a {
        color: blue; }
      .contentlist_div_box .contentlist .contentlist_div .content_a4:hover {
        color: blue; }
    .contentlist_div_box .contentlist .content_left {
      position: absolute;
      left: 10px;
      top: 200px;
      height: 40px;
      width: 30px;
      background: white;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      border: 1px solid #c2c0c0;
      color: #b3b2b2; }
    .contentlist_div_box .contentlist .content_right {
      position: absolute;
      right: 0px;
      top: 200px;
      height: 40px;
      width: 30px;
      background: white;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      border: 1px solid #c2c0c0;
      color: #b3b2b2; }

.mini_banner_div {
  width: 93%;
  padding: 0 3.5%;
  overflow: hidden; }
  .mini_banner_div .mini_banner {
    float: left;
    height: 300px;
    width: 100%;
    margin: 0 auto; }
    .mini_banner_div .mini_banner .text {
      height: 60px;
      width: 100%;
      font-size: 30px;
      line-height: 60px;
      background-image: linear-gradient(to bottom right, #b4b4f0, #e9eaf1); }
    .mini_banner_div .mini_banner .a1 {
      width: 1250px;
      height: 184px; }
      .mini_banner_div .mini_banner .a1 img {
        width: 1250px;
        height: 184px; }

.content_2_div {
  width: 93%;
  padding: 0 3.5%; }
  .content_2_div .content_2 {
    overflow: hidden;
    width: 100%;
    float: left; }
    .content_2_div .content_2 p {
      height: 60px;
      font-size: 30px;
      width: 100%;
      line-height: 60px;
      background-image: linear-gradient(to bottom right, #b4b4f0, #e9eaf1); }
    .content_2_div .content_2 .content_2_ul {
      margin-top: 10px;
      margin-bottom: 20px;
      height: 390px;
      background: #dfdff0; }
      .content_2_div .content_2 .content_2_ul .content_2_li:hover .title {
        color: blue; }
      .content_2_div .content_2 .content_2_ul .content_2_li {
        float: left;
        width: 305px;
        height: 390px;
        background: white;
        text-align: center;
        margin-right: 10px; }
        .content_2_div .content_2 .content_2_ul .content_2_li .details {
          color: #bbb8b8;
          font-size: 14px; }
        .content_2_div .content_2 .content_2_ul .content_2_li .overdue {
          color: #bbb8b8; }
        .content_2_div .content_2 .content_2_ul .content_2_li a {
          display: block;
          height: 217px;
          width: 100%;
          margin-top: 10px; }
          .content_2_div .content_2 .content_2_ul .content_2_li a img {
            height: 217px;
            width: 217px; }
        .content_2_div .content_2 .content_2_ul .content_2_li .title {
          margin-top: 24px;
          display: block; }
        .content_2_div .content_2 .content_2_ul .content_2_li .details {
          display: block; }
      .content_2_div .content_2 .content_2_ul #content_2_li3 {
        margin-right: 0;
        margin-left: 4.5px; }

.box2 {
  overflow: hidden;
  width: 93%;
  margin: 0 auto;
  padding: 0 3.5%; }
  .box2 #banner_02 {
    width: 1220px;
    height: 184px;
    margin: 0 auto;
    margin-left: 26px; }
    .box2 #banner_02 #banner_02_a {
      display: block;
      width: 1220px;
      height: 184px; }
  .box2 .contentlist2 {
    float: left;
    margin-top: 40px;
    width: 100%;
    height: 500px;
    position: relative; }
    .box2 .contentlist2 .contentlist_div2 {
      line-height: 60px;
      width: 100%;
      height: 60px;
      background-image: linear-gradient(to bottom right, #b4b4f0, #e9eaf1); }
      .box2 .contentlist2 .contentlist_div2 p {
        float: left;
        font-size: 30px;
        font-weight: 400;
        line-height: 60px;
        margin-right: 100px; }
      .box2 .contentlist2 .contentlist_div2 .content_a42 {
        float: right;
        color: black;
        font-size: 20px;
        line-height: 60px; }
      .box2 .contentlist2 .contentlist_div2 .content_ul2 {
        float: left;
        position: relative;
        margin-top: 10px; }
        .box2 .contentlist2 .contentlist_div2 .content_ul2 #content_ul_li20 {
          border-bottom: 2px solid blue; }
        .box2 .contentlist2 .contentlist_div2 .content_ul2 .content_ul_li2 {
          height: 40px;
          line-height: 50px;
          float: left;
          margin-left: 20px; }
          .box2 .contentlist2 .contentlist_div2 .content_ul2 .content_ul_li2 a {
            font-size: 20px;
            color: black; }
          .box2 .contentlist2 .contentlist_div2 .content_ul2 .content_ul_li2 #ul20 {
            z-index: 1;
            position: absolute; }
          .box2 .contentlist2 .contentlist_div2 .content_ul2 .content_ul_li2 .content_ul_li_ul2 {
            height: 400px;
            width: 1160px;
            position: absolute;
            left: -110px;
            background: #e6e5f0; }
            .box2 .contentlist2 .contentlist_div2 .content_ul2 .content_ul_li2 .content_ul_li_ul2 .content_list_li2:hover {
              color: #2527bd; }
            .box2 .contentlist2 .contentlist_div2 .content_ul2 .content_ul_li2 .content_ul_li_ul2 .content_list_li2 {
              padding-top: 40px;
              float: left;
              background: white;
              height: 380px;
              width: 250px;
              padding-left: 30px;
              margin-right: 13px;
              text-align: center; }
              .box2 .contentlist2 .contentlist_div2 .content_ul2 .content_ul_li2 .content_ul_li_ul2 .content_list_li2 .details2 {
                color: #999;
                font-size: 14px; }
              .box2 .contentlist2 .contentlist_div2 .content_ul2 .content_ul_li2 .content_ul_li_ul2 .content_list_li2 .overdue2 {
                color: #999; }
              .box2 .contentlist2 .contentlist_div2 .content_ul2 .content_ul_li2 .content_ul_li_ul2 .content_list_li2 a {
                display: block; }
                .box2 .contentlist2 .contentlist_div2 .content_ul2 .content_ul_li2 .content_ul_li_ul2 .content_list_li2 a img {
                  height: 217px;
                  width: 217px; }
              .box2 .contentlist2 .contentlist_div2 .content_ul2 .content_ul_li2 .content_ul_li_ul2 .content_list_li2 .title2 {
                display: block; }
              .box2 .contentlist2 .contentlist_div2 .content_ul2 .content_ul_li2 .content_ul_li_ul2 .content_list_li2 .price2 {
                margin: 0 20px 0 30px; }
            .box2 .contentlist2 .contentlist_div2 .content_ul2 .content_ul_li2 .content_ul_li_ul2 #li23 {
              margin-right: 0;
              width: 251px; }
      .box2 .contentlist2 .contentlist_div2 .content_ul_li2:hover a {
        color: blue; }
      .box2 .contentlist2 .contentlist_div2 .content_a42:hover {
        color: blue; }
    .box2 .contentlist2 .content_left2 {
      position: absolute;
      left: 10px;
      top: 200px;
      height: 40px;
      width: 30px;
      background: white;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      border: 1px solid #c2c0c0;
      color: #b3b2b2; }
      .box2 .contentlist2 .content_left2 a {
        display: block;
        height: 40px;
        width: 30px; }
    .box2 .contentlist2 .content_right2 {
      position: absolute;
      right: 0;
      top: 200px;
      height: 40px;
      width: 30px;
      background: white;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      border: 1px solid #c2c0c0;
      color: #b3b2b2; }
      .box2 .contentlist2 .content_right2 a {
        display: block;
        height: 40px;
        width: 30px; }

.boeder {
  margin-top: 60px;
  height: 1px;
  width: 100%;
  background: #999; }

.end1_div {
  width: 93%;
  padding: 0 3.5%; }
  .end1_div .end1 {
    height: 90px;
    width: 1200px;
    margin: 20px auto;
    padding: 35px 0 28px 0; }
    .end1_div .end1 .end_div {
      height: 90px;
      width: 399px;
      border-right: 1px solid #999;
      float: left; }
      .end1_div .end1 .end_div .dl {
        margin-left: 40px;
        margin-top: 15px;
        height: 90px;
        line-height: 24px; }
        .end1_div .end1 .end_div .dl .dt {
          float: left;
          width: 62px;
          height: 100%;
          margin-right: 20px; }
          .end1_div .end1 .end_div .dl .dt img {
            float: left; }
        .end1_div .end1 .end_div .dl .dd {
          width: 300px;
          margin-left: 10px; }
    .end1_div .end1 .end_div3 {
      width: 400px;
      border-right: none; }

.end_02_div {
  width: 100%; }
  .end_02_div .end_02 {
    height: 284px;
    width: 100%;
    background: #e7e6e6; }
    .end_02_div .end_02 .ul {
      margin: 40px 0 0 100px;
      float: left;
      height: 200px;
      width: 150px;
      line-height: 150%; }
      .end_02_div .end_02 .ul li .a1 {
        font-size: 14px;
        font-weight: 900; }
      .end_02_div .end_02 .ul li a {
        color: black;
        font-size: 12px; }
      .end_02_div .end_02 .ul li a:hover {
        color: blue; }
    .end_02_div .end_02 .fenxiang {
      float: left;
      height: 200px;
      width: 200px;
      line-height: 200%;
      margin: 40px 0 0 260px; }
      .end_02_div .end_02 .fenxiang .li1 {
        font-size: 14px;
        font-weight: 900; }
      .end_02_div .end_02 .fenxiang .li2 .a1 {
        float: left;
        height: 58px;
        width: 58px;
        background: url(../images/pic_082.png) no-repeat;
        background-position: -346px 0; }
      .end_02_div .end_02 .fenxiang .li2 .a1:hover {
        background-position: -346px -68px; }
      .end_02_div .end_02 .fenxiang .li2 .a2:hover {
        background-position: -346px -204px; }
      .end_02_div .end_02 .fenxiang .li2 .a2 {
        margin-left: 10px;
        float: left;
        height: 58px;
        width: 58px;
        background: url(../images/pic_082.png) no-repeat;
        background-position: -346px -136px; }
    .end_02_div .end_02 .p1 {
      height: 20px;
      float: left;
      margin-left: 80px; }

.end_end {
  height: 142px;
  width: 100%;
  background: #5a5a5a;
  margin: 0 auto; }
  .end_end .d1 {
    height: 56px;
    width: 480px;
    float: left;
    margin-left: 35px; }
    .end_end .d1 a {
      color: white;
      font-weight: 900;
      float: left;
      margin: 40px 0 0 20px;
      font-size: 14px; }
    .end_end .d1 a:hover {
      text-decoration: underline; }
    .end_end .d1 p {
      margin-top: 20px;
      float: left;
      font-size: 12px; }
    .end_end .d1 .a1 {
      margin-left: 0; }
  .end_end .d2 {
    margin-top: 28px;
    margin-right: 60px;
    width: 500px;
    height: 86px;
    float: right; }
    .end_end .d2 .p1 {
      height: 32px;
      width: 280px;
      font-size: 12px;
      color: white; }
    .end_end .d2 a {
      font-size: 12px; }
